.trade-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trade-list-content {
  width: 330px;
  max-height: 850px;
  padding: 10px 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
}

.trade-list-content h3 {
  text-align: center;
  margin-bottom: 15px;
}
.trade-more-info-container {
  margin-bottom: 20px;
  text-align: center;
}

.trade-more-info {
  margin-bottom: 10px;
}

.btn-trade-list-back {
  height: 40px;
  font-size: 18px;
  background-color: #1976d2;
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-trade-list-shopping {
  height: 40px;
  font-size: 18px;
  background-color: #1976d2;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.trade-list-items-block h4 {
  text-align: start;
}

.trade-list-items-block{
  margin-bottom: 15px;
}
.th-product-name-title {
  display: flex;
}





.container-for-description{
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.div-product-name{
  overflow: auto;

}

.div-product-desc{
  overflow: hidden;
  overflow-y: scroll;
}


.trade-list-more-info-btn {
  height: 40px;
  font-size: 18px;
  background-color: #1976d2;
  border-radius: 5px;
  padding: 0px 10px;
  cursor: pointer;
}



.delete-trade-list-item-relative {
  position: relative;
}


.delete-trade-list-item {
  position: absolute;
  right: 3px;
  top: -24px;
  border-radius: 25px;
  background-color: #1976d2;
  cursor: pointer;
  border: none;
}

.title-trade-list {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
}

.title-name-trade-list {
  margin-right: 60px;
}

.select-role-provider-btn {
  height: 40px;
  width: 100%;
  border: none;
  font-size: 18px;
  background-color: #1976d2;
  border-radius: 5px;
  /* padding: 0px 10px; */
  /* margin-bottom: 10px; */
}

.ProductMoreInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ProductMoreInfo-content {
  width: 330px;
  max-height: 1550px;
  padding: 10px 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.ProductMoreInfo-content p {
  font-style: italic;
  color: darkcyan;
}

.ProductMoreInfo-photo-files-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ProductMoreInfo-photo-files-content {
  width: 45%;
  height: 180px;
  border: 1px solid #6d6c6c;
  background-color: rgb(215, 230, 243);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ProductMoreInfo-photo-files-content img {
  align-items: center;
  text-align: center;
}

.ProductMoreInfo-btn {
  height: 40px;
  width: 100%;
  border: none;
  font-size: 18px;
  background-color: #1976d2;
  border-radius: 5px;
  cursor: pointer;
}

.ProductMoreInfo-title {
  margin-bottom: 10px;
}

.photo-tz {
  margin-bottom: 10px;
}
