* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

input, textarea, option {
  color: black;
}

/* body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
} */
